<%- partial("../_includes/_header-page") %>

<div class="col-md-3 full-height">
<a class="btn btn-home btn-default btn-lg tag-id-all icon-home" data-dismiss="modal" href="#"></a>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox" data-url="<%= url %>" data-title="<%= title %>"></div>

</div>



<div class="col-md-9 full-height">
<div class="loader full-height">
<iframe class="full-height" src="<%= url %>" sandbox="allow-same-origin allow-forms"></iframe>
</div>
</div>
<%- partial("../_includes/_footer-page") %>